<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjdvt.wx.mapper.AllsectionitemimagesMapper" >

    <resultMap id="BaseResultMap" type="com.bjdvt.wx.model.Allsectionitemimages" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="section_item_id" property="sectionItemId" jdbcType="INTEGER" />
        <result column="image_id" property="imageId" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, section_item_id, image_id
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bjdvt.wx.model.AllsectionitemimagesExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from allsectionitemimages
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from allsectionitemimages
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from allsectionitemimages
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.bjdvt.wx.model.AllsectionitemimagesExample" >
        delete from allsectionitemimages
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.bjdvt.wx.model.Allsectionitemimages" useGeneratedKeys="true" keyProperty="id" >
        insert into allsectionitemimages (id, section_item_id, image_id
            )
        values (#{id,jdbcType=INTEGER}, #{sectionItemId,jdbcType=INTEGER}, #{imageId,jdbcType=INTEGER}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.bjdvt.wx.model.Allsectionitemimages" >
        insert into allsectionitemimages
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="sectionItemId != null" >
                section_item_id,
            </if>
            <if test="imageId != null" >
                image_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="sectionItemId != null" >
                #{sectionItemId,jdbcType=INTEGER},
            </if>
            <if test="imageId != null" >
                #{imageId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.bjdvt.wx.model.AllsectionitemimagesExample" resultType="java.lang.Integer" >
        select count(*) from allsectionitemimages
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update allsectionitemimages
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.sectionItemId != null" >
                section_item_id = #{record.sectionItemId,jdbcType=INTEGER},
            </if>
            <if test="record.imageId != null" >
                image_id = #{record.imageId,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update allsectionitemimages
        set id = #{record.id,jdbcType=INTEGER},
            section_item_id = #{record.sectionItemId,jdbcType=INTEGER},
            image_id = #{record.imageId,jdbcType=INTEGER}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.bjdvt.wx.model.Allsectionitemimages" >
        update allsectionitemimages
        <set >
            <if test="sectionItemId != null" >
                section_item_id = #{sectionItemId,jdbcType=INTEGER},
            </if>
            <if test="imageId != null" >
                image_id = #{imageId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bjdvt.wx.model.Allsectionitemimages" >
        update allsectionitemimages
        set section_item_id = #{sectionItemId,jdbcType=INTEGER},
            image_id = #{imageId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>