<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjdvt.wx.mapper.MySkimMapper" >

    <resultMap id="BaseResultMap" type="com.bjdvt.wx.model.MySkim" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="wx_user_id" property="wxUserId" jdbcType="INTEGER" />
        <result column="skim_user_id" property="skimUserId" jdbcType="INTEGER" />
        <result column="flag" property="flag" jdbcType="INTEGER" />
        <result column="product_id" property="productId" jdbcType="INTEGER" />
        <result column="last_share_id" property="lastShareId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, create_time, wx_user_id, skim_user_id, flag, product_id, last_share_id
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bjdvt.wx.model.MySkimExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from my_skim
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from my_skim
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from my_skim
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.bjdvt.wx.model.MySkimExample" >
        delete from my_skim
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.bjdvt.wx.model.MySkim" >
        insert into my_skim (id, create_time, wx_user_id, 
            skim_user_id, flag, product_id, 
            last_share_id)
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{wxUserId,jdbcType=INTEGER}, 
            #{skimUserId,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
            #{lastShareId,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.bjdvt.wx.model.MySkim" >
        insert into my_skim
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="wxUserId != null" >
                wx_user_id,
            </if>
            <if test="skimUserId != null" >
                skim_user_id,
            </if>
            <if test="flag != null" >
                flag,
            </if>
            <if test="productId != null" >
                product_id,
            </if>
            <if test="lastShareId != null" >
                last_share_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="wxUserId != null" >
                #{wxUserId,jdbcType=INTEGER},
            </if>
            <if test="skimUserId != null" >
                #{skimUserId,jdbcType=INTEGER},
            </if>
            <if test="flag != null" >
                #{flag,jdbcType=INTEGER},
            </if>
            <if test="productId != null" >
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="lastShareId != null" >
                #{lastShareId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.bjdvt.wx.model.MySkimExample" resultType="java.lang.Integer" >
        select count(*) from my_skim
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update my_skim
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.wxUserId != null" >
                wx_user_id = #{record.wxUserId,jdbcType=INTEGER},
            </if>
            <if test="record.skimUserId != null" >
                skim_user_id = #{record.skimUserId,jdbcType=INTEGER},
            </if>
            <if test="record.flag != null" >
                flag = #{record.flag,jdbcType=INTEGER},
            </if>
            <if test="record.productId != null" >
                product_id = #{record.productId,jdbcType=INTEGER},
            </if>
            <if test="record.lastShareId != null" >
                last_share_id = #{record.lastShareId,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update my_skim
        set id = #{record.id,jdbcType=INTEGER},
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
            wx_user_id = #{record.wxUserId,jdbcType=INTEGER},
            skim_user_id = #{record.skimUserId,jdbcType=INTEGER},
            flag = #{record.flag,jdbcType=INTEGER},
            product_id = #{record.productId,jdbcType=INTEGER},
            last_share_id = #{record.lastShareId,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.bjdvt.wx.model.MySkim" >
        update my_skim
        <set >
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="wxUserId != null" >
                wx_user_id = #{wxUserId,jdbcType=INTEGER},
            </if>
            <if test="skimUserId != null" >
                skim_user_id = #{skimUserId,jdbcType=INTEGER},
            </if>
            <if test="flag != null" >
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="productId != null" >
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="lastShareId != null" >
                last_share_id = #{lastShareId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bjdvt.wx.model.MySkim" >
        update my_skim
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            wx_user_id = #{wxUserId,jdbcType=INTEGER},
            skim_user_id = #{skimUserId,jdbcType=INTEGER},
            flag = #{flag,jdbcType=INTEGER},
            product_id = #{productId,jdbcType=INTEGER},
            last_share_id = #{lastShareId,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>